Life_exp AutoAI node red flow.json
[{"id":"4eb70f54.f743f","type":"tab","label":"Life_exp AutoAI","disabled":false,"info":""},{"id":"788d67ff.5d01f","type":"function","z":"4eb70f54.f743f","name":"PreToken","func":"global.set(\"co\",msg.payload.co)\nglobal.set(\"ye\",msg.payload.ye)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"adult\",msg.payload.adult)\nglobal.set(\"infant\",msg.payload.infant)\nglobal.set(\"alc\",msg.payload.alc)\nglobal.set(\"per_exp\",msg.payload.per_exp)\nglobal.set(\"hepB\",msg.payload.hepB)\nglobal.set(\"meas\",msg.payload.meas)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"under\",msg.payload.under)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"tot_exp\",msg.payload.tot_exp)\nglobal.set(\"diph\",msg.payload.diph)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"popu\",msg.payload.popu)\nglobal.set(\"thin1\",msg.payload.thin1)\nglobal.set(\"thin5\",msg.payload.thin5)\nglobal.set(\"income\",msg.payload.income)\nglobal.set(\"school\",msg.payload.school)\nvar apikey=\"rA_JS3oGch15W7TGG97h862gCdQz9TAggCu6pPXARFgx\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["b06ca163.f72f58"]]},{"id":"b06ca163.f72f58","type":"http request","z":"4eb70f54.f743f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":280,"wires":[["96a3223c.ebf9e","e7e78eae.d782d"]]},{"id":"d9fc12cb.6a1068","type":"debug","z":"4eb70f54.f743f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":60,"wires":[]},{"id":"96a3223c.ebf9e","type":"function","z":"4eb70f54.f743f","name":"Pre Prediction","func":"var co = global.get('co')\nvar ye = global.get('ye')\nvar st = global.get('st')\nvar adult = global.get('adult')\nvar infant = global.get('infant')\nvar alc = global.get('alc')\nvar per_exp = global.get('per_exp')\nvar hepB = global.get('hepB')\nvar meas = global.get('meas')\nvar bmi = global.get('bmi')\nvar under = global.get('under')\nvar polio = global.get('polio')\nvar tot_exp = global.get('tot_exp')\nvar diph = global.get('diph')\nvar hiv = global.get('hiv')\nvar gdp = global.get('gdp')\nvar popu = global.get('popu')\nvar thin1 = global.get('thin1')\nvar thin5 = global.get('thin5')\nvar income = global.get('income')\nvar school = global.get('school')\nvar token=msg.payload.access_token\nvar instance_id=\"8f159afd-0624-46ce-bda0-e2e2f814b0e6\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[co,ye,st,adult,infant,alc,per_exp,hepB,meas,bmi,under,polio,tot_exp,diph,hiv,gdp,popu,thin1,thin5,income,school]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["49b0e904.5f7358"]]},{"id":"49b0e904.5f7358","type":"http request","z":"4eb70f54.f743f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/30c0e285-47c6-4b93-81f9-eeeb20591591/predictions","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":260,"wires":[["ec95dd6c.9d61d8","cab305d.bd2c478"]]},{"id":"93abb568.d6be1","type":"ui_form","z":"4eb70f54.f743f","name":"","label":"","group":"c9726ae1.438bc","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"co","type":"text","required":true,"rows":null},{"label":"Year","value":"ye","type":"number","required":false,"rows":null},{"label":"Status","value":"st","type":"text","required":false,"rows":null},{"label":"Adult Mortality","value":"adult","type":"number","required":false,"rows":null},{"label":"infant deaths","value":"infant","type":"number","required":false,"rows":null},{"label":"Alcohol","value":"alc","type":"number","required":false,"rows":null},{"label":"percentage expenditure","value":"per_exp","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"hepB","type":"number","required":false,"rows":null},{"label":"Measles","value":"meas","type":"number","required":false,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":false,"rows":null},{"label":"under-five deaths","value":"under","type":"number","required":false,"rows":null},{"label":"Polio","value":"polio","type":"number","required":false,"rows":null},{"label":"Total expenditure","value":"tot_exp","type":"number","required":false,"rows":null},{"label":"Diphtheria ","value":"diph","type":"number","required":false,"rows":null},{"label":" HIV/AIDS","value":"hiv","type":"number","required":false,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":false,"rows":null},{"label":"Population","value":"popu","type":"number","required":false,"rows":null},{"label":"thinness  1-19 years","value":"thin1","type":"number","required":false,"rows":null},{"label":"thinness 5-9 years","value":"thin5","type":"number","required":false,"rows":null},{"label":"Income composition of resources","value":"income","type":"number","required":false,"rows":null},{"label":"Schooling","value":"school","type":"number","required":false,"rows":null}],"formValue":{"co":"","ye":"","st":"","adult":"","infant":"","alc":"","per_exp":"","hepB":"","meas":"","bmi":"","under":"","polio":"","tot_exp":"","diph":"","hiv":"","gdp":"","popu":"","thin1":"","thin5":"","income":"","school":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":340,"wires":[["788d67ff.5d01f","87e0928b.b4a39"]]},{"id":"cb52c4d4.06785","type":"ui_text","z":"4eb70f54.f743f","group":"c9726ae1.438bc","order":2,"width":0,"height":0,"name":"","label":"Predicted Life Expectancy:","format":"{{msg.payload}}","layout":"row-left","x":800,"y":120,"wires":[]},{"id":"cab305d.bd2c478","type":"function","z":"4eb70f54.f743f","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["d9fc12cb.6a1068","cb52c4d4.06785"]]},{"id":"e7e78eae.d782d","type":"debug","z":"4eb70f54.f743f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":380,"wires":[]},{"id":"ec95dd6c.9d61d8","type":"debug","z":"4eb70f54.f743f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":340,"wires":[]},{"id":"b3ceb20d.b3baf8","type":"debug","z":"4eb70f54.f743f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":460,"wires":[]},{"id":"87e0928b.b4a39","type":"function","z":"4eb70f54.f743f","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":380,"wires":[["b3ceb20d.b3baf8"]]},{"id":"c9726ae1.438bc","type":"ui_group","z":"","name":"Life Expectancy Predictor","tab":"4a8fa958.fc9b5","order":2,"disp":true,"width":"6","collapse":false},{"id":"4a8fa958.fc9b5","type":"ui_tab","z":"","name":"AutoAI","icon":"dashboard","order":2,"disabled":false,"hidden":false}]