Life_exp ML node red flow.json
[{"id":"db409cbf.69969","type":"tab","label":"Life_exp ML","disabled":false,"info":""},{"id":"58a1bc5d.f64ebc","type":"function","z":"db409cbf.69969","name":"PreToken","func":"global.set(\"co\",msg.payload.co)\nglobal.set(\"ye\",msg.payload.ye)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"adult\",msg.payload.adult)\nglobal.set(\"infant\",msg.payload.infant)\nglobal.set(\"alc\",msg.payload.alc)\nglobal.set(\"per_exp\",msg.payload.per_exp)\nglobal.set(\"hepB\",msg.payload.hepB)\nglobal.set(\"meas\",msg.payload.meas)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"under\",msg.payload.under)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"tot_exp\",msg.payload.tot_exp)\nglobal.set(\"diph\",msg.payload.diph)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"popu\",msg.payload.popu)\nglobal.set(\"thin1\",msg.payload.thin1)\nglobal.set(\"thin5\",msg.payload.thin5)\nglobal.set(\"income\",msg.payload.income)\nglobal.set(\"school\",msg.payload.school)\nvar apikey=\"rA_JS3oGch15W7TGG97h862gCdQz9TAggCu6pPXARFgx\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":400,"wires":[["fa7c89b6.6daa18"]]},{"id":"fa7c89b6.6daa18","type":"http request","z":"db409cbf.69969","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":400,"wires":[["49e49fc2.f592c8","5858403b.b1f5d"]]},{"id":"bc3ef90a.0955d","type":"debug","z":"db409cbf.69969","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":180,"wires":[]},{"id":"49e49fc2.f592c8","type":"function","z":"db409cbf.69969","name":"Pre Prediction","func":"var dict_c = {\n 'Sierra Leone': 0,\n 'Central African Republic': 1,\n 'Lesotho': 2,\n 'Angola': 3,\n 'Malawi': 4,\n 'Chad': 5,\n \"Côte d'Ivoire\": 6,\n 'Zimbabwe': 7,\n 'Swaziland': 8,\n 'Nigeria': 9,\n 'Somalia': 10,\n 'Mozambique': 11,\n 'South Sudan': 12,\n 'Zambia': 13,\n 'Cameroon': 14,\n 'Mali': 15,\n 'Equatorial Guinea': 16,\n 'Guinea-Bissau': 17,\n 'Burundi': 18,\n 'Burkina Faso': 19,\n 'Democratic Republic of the Congo': 20,\n 'Uganda': 21,\n 'United Republic of Tanzania': 22,\n 'Guinea': 23,\n 'Botswana': 24,\n 'Togo': 25,\n 'Niger': 26,\n 'Kenya': 27,\n 'South Africa': 28,\n 'Liberia': 29,\n 'Benin': 30,\n 'Afghanistan': 31,\n 'Congo': 32,\n 'Ethiopia': 33,\n 'Rwanda': 34,\n 'Gambia': 35,\n 'Haiti': 36,\n 'Namibia': 37,\n 'Eritrea': 38,\n 'Djibouti': 39,\n 'Ghana': 40,\n 'Comoros': 41,\n 'Papua New Guinea': 42,\n 'Sudan': 43,\n 'Gabon': 44,\n \"Lao People's Democratic Republic\": 45,\n 'Senegal': 46,\n 'Madagascar': 47,\n 'Mauritania': 48,\n 'Yemen': 49,\n 'Myanmar': 50,\n 'Cambodia': 51,\n 'Pakistan': 52,\n 'Turkmenistan': 53,\n 'Timor-Leste': 54,\n 'Kiribati': 55,\n 'Sao Tome and Principe': 56,\n 'India': 57,\n 'Guyana': 58,\n 'Mongolia': 59,\n 'Bhutan': 60,\n 'Nepal': 61,\n 'Tajikistan': 62,\n 'Kazakhstan': 63,\n 'Indonesia': 64,\n 'Philippines': 65,\n 'Bolivia (Plurinational State of)': 66,\n 'Solomon Islands': 67,\n 'Russian Federation': 68,\n 'Uzbekistan': 69,\n 'Micronesia (Federated States of)': 70,\n 'Fiji': 71,\n 'Kyrgyzstan': 72,\n \"Democratic People's Republic of Korea\": 73,\n 'Belize': 74,\n 'Bangladesh': 75,\n 'Belarus': 76,\n 'Ukraine': 77,\n 'Republic of Moldova': 78,\n 'Suriname': 79,\n 'Iraq': 80,\n 'Azerbaijan': 81,\n 'Syrian Arab Republic': 82,\n 'Trinidad and Tobago': 83,\n 'Vanuatu': 84,\n 'Egypt': 85,\n 'Guatemala': 86,\n 'El Salvador': 87,\n 'Marshall Islands': 88,\n 'Cook Islands': 89,\n 'Tuvalu': 90,\n 'Monaco': 91,\n 'Dominica': 92,\n 'Palau': 93,\n 'Nauru': 94,\n 'San Marino': 95,\n 'Niue': 96,\n 'Saint Kitts and Nevis': 97,\n 'Morocco': 98,\n 'Dominican Republic': 99,\n 'Seychelles': 100,\n 'Libya': 101,\n 'Cabo Verde': 102,\n 'Tonga': 103,\n 'Mauritius': 104,\n 'Lithuania': 105,\n 'Bulgaria': 106,\n 'Jordan': 107,\n 'Honduras': 108,\n 'Thailand': 109,\n 'Paraguay': 110,\n 'Colombia': 111,\n 'Grenada': 112,\n 'Brazil': 113,\n 'Venezuela (Bolivarian Republic of)': 114,\n 'Armenia': 115,\n 'Sri Lanka': 116,\n 'Nicaragua': 117,\n 'Saudi Arabia': 118,\n 'Saint Vincent and the Grenadines': 119,\n 'Georgia': 120,\n 'Saint Lucia': 121,\n 'Algeria': 122,\n 'Samoa': 123,\n 'Peru': 124,\n 'Latvia': 125,\n 'Malaysia': 126,\n 'Hungary': 127,\n 'Kuwait': 128,\n 'Iran (Islamic Republic of)': 129,\n 'Turkey': 130,\n 'Serbia': 131,\n 'Romania': 132,\n 'The former Yugoslav republic of Macedonia': 133,\n 'Lebanon': 134,\n 'China': 135,\n 'Bahamas': 136,\n 'Jamaica': 137,\n 'Barbados': 138,\n 'Tunisia': 139,\n 'Montenegro': 140,\n 'Ecuador': 141,\n 'Slovakia': 142,\n 'Viet Nam': 143,\n 'Oman': 144,\n 'Estonia': 145,\n 'Antigua and Barbuda': 146,\n 'Argentina': 147,\n 'Albania': 148,\n 'Maldives': 149,\n 'Poland': 150,\n 'United Arab Emirates': 151,\n 'Mexico': 152,\n 'Bahrain': 153,\n 'Bosnia and Herzegovina': 154,\n 'Uruguay': 155,\n 'Croatia': 156,\n 'Panama': 157,\n 'Brunei Darussalam': 158,\n 'Czechia': 159,\n 'Qatar': 160,\n 'Cuba': 161,\n 'United States of America': 162,\n 'Costa Rica': 163,\n 'Denmark': 164,\n 'Chile': 165,\n 'Cyprus': 166,\n 'Slovenia': 167,\n 'Portugal': 168,\n 'Ireland': 169,\n 'Malta': 170,\n 'Republic of Korea': 171,\n 'Belgium': 172,\n 'Finland': 173,\n 'Luxembourg': 174,\n 'United Kingdom of Great Britain and Northern Ireland': 175,\n 'Netherlands': 176,\n 'Germany': 177,\n 'Greece': 178,\n 'Israel': 179,\n 'New Zealand': 180,\n 'Singapore': 181,\n 'Austria': 182,\n 'Canada': 183,\n 'Norway': 184,\n 'Australia': 185,\n 'Spain': 186,\n 'Italy': 187,\n 'France': 188,\n 'Switzerland': 189,\n 'Iceland': 190,\n 'Sweden': 191,\n 'Japan': 192\n};\nvar dict_s = {'Developing': 0, 'Developed': 1};\nvar co = global.get('co')\nvar ye = global.get('ye')\nvar st = global.get('st')\nvar adult = global.get('adult')\nvar infant = global.get('infant')\nvar alc = global.get('alc')\nvar per_exp = global.get('per_exp')\nvar hepB = global.get('hepB')\nvar meas = global.get('meas')\nvar bmi = global.get('bmi')\nvar under = global.get('under')\nvar polio = global.get('polio')\nvar tot_exp = global.get('tot_exp')\nvar diph = global.get('diph')\nvar hiv = global.get('hiv')\nvar gdp = global.get('gdp')\nvar popu = global.get('popu')\nvar thin1 = global.get('thin1')\nvar thin5 = global.get('thin5')\nvar income = global.get('income')\nvar school = global.get('school')\nvar token=msg.payload.access_token\nvar instance_id=\"8f159afd-0624-46ce-bda0-e2e2f814b0e6\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[dict_c[co],ye,dict_s[st],adult,infant,alc,per_exp,hepB,meas,bmi,under,polio,tot_exp,diph,hiv,gdp,popu,thin1,thin5,income,school]]}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":320,"wires":[["867eea2.caab818"]]},{"id":"867eea2.caab818","type":"http request","z":"db409cbf.69969","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/8f159afd-0624-46ce-bda0-e2e2f814b0e6/deployments/507d25bc-1560-445a-bd57-7d130b946134/online","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":380,"wires":[["57c2d6ae.87149","2aae7a4b.6db716"]]},{"id":"200aced8.389282","type":"ui_form","z":"db409cbf.69969","name":"","label":"","group":"8c7ed8be.a1f9d","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"co","type":"text","required":true,"rows":null},{"label":"Year","value":"ye","type":"number","required":false,"rows":null},{"label":"Status","value":"st","type":"text","required":false,"rows":null},{"label":"Adult Mortality","value":"adult","type":"number","required":false,"rows":null},{"label":"infant deaths","value":"infant","type":"number","required":false,"rows":null},{"label":"Alcohol","value":"alc","type":"number","required":false,"rows":null},{"label":"percentage expenditure","value":"per_exp","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"hepB","type":"number","required":false,"rows":null},{"label":"Measles","value":"meas","type":"number","required":false,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":false,"rows":null},{"label":"under-five deaths","value":"under","type":"number","required":false,"rows":null},{"label":"Polio","value":"polio","type":"number","required":false,"rows":null},{"label":"Total expenditure","value":"tot_exp","type":"number","required":false,"rows":null},{"label":"Diphtheria ","value":"diph","type":"number","required":false,"rows":null},{"label":" HIV/AIDS","value":"hiv","type":"number","required":false,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":false,"rows":null},{"label":"Population","value":"popu","type":"number","required":false,"rows":null},{"label":"thinness  1-19 years","value":"thin1","type":"number","required":false,"rows":null},{"label":"thinness 5-9 years","value":"thin5","type":"number","required":false,"rows":null},{"label":"Income composition of resources","value":"income","type":"number","required":false,"rows":null},{"label":"Schooling","value":"school","type":"number","required":false,"rows":null}],"formValue":{"co":"","ye":"","st":"","adult":"","infant":"","alc":"","per_exp":"","hepB":"","meas":"","bmi":"","under":"","polio":"","tot_exp":"","diph":"","hiv":"","gdp":"","popu":"","thin1":"","thin5":"","income":"","school":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":440,"wires":[["58a1bc5d.f64ebc","9e326a9d.0a80e8"]]},{"id":"c818f166.7f472","type":"ui_text","z":"db409cbf.69969","group":"8c7ed8be.a1f9d","order":2,"width":0,"height":0,"name":"","label":"Predicted Life Expectancy:","format":"{{msg.payload}}","layout":"row-left","x":820,"y":240,"wires":[]},{"id":"2aae7a4b.6db716","type":"function","z":"db409cbf.69969","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["bc3ef90a.0955d","c818f166.7f472"]]},{"id":"5858403b.b1f5d","type":"debug","z":"db409cbf.69969","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":500,"wires":[]},{"id":"57c2d6ae.87149","type":"debug","z":"db409cbf.69969","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":460,"wires":[]},{"id":"5c4b6f5f.d6cfd","type":"debug","z":"db409cbf.69969","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":580,"wires":[]},{"id":"9e326a9d.0a80e8","type":"function","z":"db409cbf.69969","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":500,"wires":[["5c4b6f5f.d6cfd"]]},{"id":"8c7ed8be.a1f9d","type":"ui_group","z":"","name":"Life Expectancy Predictor","tab":"4e522701.e330d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"4e522701.e330d8","type":"ui_tab","z":"","name":"ML","icon":"dashboard","order":6,"disabled":false,"hidden":false}]